<a href="https://colab.research.google.com/github/jiyoumin/Python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = input('당신의 이름을 입력하시오 >>>')
a

당신의 이름을 입력하시오 >>>지유민

'지유민'

In [4]:
b= input('당신의 나이 >>>')
b

당신의 나이 >>>19

'19'

In [5]:
type(b)

str

In [7]:
c =int(b)
c, type(c)

(19, int)

In [9]:
year = int(input('출생년도를 입력>>'))
print('당신은', year, '년에 태어났군요')
age = 2020-year+1
print('당신의 나이는', age, ' 몇세 입니까')

출생년도를 입력>>2002
당신은 2002 년에 태어났군요
당신의 나이는 19  몇세 입니까

**Format**

In [11]:
s='a is {}'
s.format('apple')

'a is apple'

In [12]:
a= '%s %d 개 가격은 %.2f 달라'
b= a%('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [0]:
# 치킨 2마리 가격은 40000원

In [15]:
a= '%s %d 개 가격은 %.2f 원'
b= a%('치킨', 2, 20000*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 원
치킨 2 개 가격은 40000.00 원